<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.mysql.AiEmailIntentMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.bean.mysql.AiEmailIntent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="intent_name" jdbcType="VARCHAR" property="intentName" />
    <result column="intent_detail" jdbcType="VARCHAR" property="intentDetail" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>


  <insert id="insertSelective" parameterType="com.example.demo.bean.mysql.AiEmailIntent">
    insert into bt_ai_email_intent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="intentName != null">
        intent_name,
      </if>
      <if test="intentDetail != null">
        intent_detail,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="intentName != null">
        #{intentName,jdbcType=VARCHAR},
      </if>
      <if test="intentDetail != null">
        #{intentDetail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>


  <select id="total" parameterType="long" resultType="long">
    SELECT count(1) FROM bt_ai_email_intent
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from bt_ai_email_intent
    where id = #{id,jdbcType=INTEGER}
  </select>


  <select id="queryPageBySql" parameterType="map" resultMap="BaseResultMap">
        select * from bt_ai_email_intent limit #{currIndex} , #{pageSize}
</select>

  <update id="update" parameterType="com.example.demo.bean.mysql.AiEmailIntent">
    update bt_ai_email_intent
    <set>
      <if test="intentName != null">
        intent_name = #{intentName,jdbcType=VARCHAR},
      </if>
      <if test="intentDetail != null">
        intent_detail = #{intentDetail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.bean.mysql.AiEmailIntent">
    update bt_ai_email_intent
    set intent_name = #{intentName,jdbcType=VARCHAR},
      intent_detail = #{intentDetail,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bt_ai_email_intent
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from bt_ai_email_intent
    where id = #{id,jdbcType=INTEGER}
  </delete>

<!--  <select id="getALL" parameterType="map" resultMap="BaseResultMap">
        select * from bt_ai_email_intent
</select>-->








</mapper>