<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.mysql.AiPaypalResponseTemplatesMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.bean.mysql.AiPaypalResponseTemplatesEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="template_id" property="templateId" jdbcType="VARCHAR"/>
        <result column="response_params" property="responseParams" jdbcType="VARCHAR"/>
        <result column="intent_name" property="intentName" jdbcType="VARCHAR"/>
        <result column="intent_detail" property="intentDetail" jdbcType="VARCHAR"/>
        <result column="intent_phrase" property="intentPhrase" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="ResultMapWithBLOBs" type="com.example.demo.bean.mysql.AiPaypalResponseTemplatesEntity"
               extends="BaseResultMap">
        <result column="response_time" property="responseTime" jdbcType="LONGVARCHAR"/>
        <result column="content_type" property="contentType" jdbcType="LONGVARCHAR"/>
        <result column="content_cn" property="contentCn" jdbcType="LONGVARCHAR"/>
        <result column="content_response" property="contentResponse" jdbcType="LONGVARCHAR"/>
        <result column="content_response_cn" property="contentResponseCn" jdbcType="LONGVARCHAR"/>


    </resultMap>


    <sql id="Base_Column_List">
    id, template_id, response_params
  </sql>
    <sql id="Blob_Column_List">
    response_time, content_type, content_cn, content_response, content_response_cn
  </sql>

    <!--根据主键查询-->

    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from ai_paypal_response_templates
        where id = #{id,jdbcType=INTEGER}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bt_ai_paypal_response_templates
    where id = #{id,jdbcType=INTEGER}
  </delete>


    <insert id="insert" parameterType="com.example.demo.bean.mysql.AiPaypalResponseTemplatesEntity">
    insert into bt_ai_paypal_response_templates (id, template_id, response_params,
      response_time, content_type, content_cn, 
      content_response, content_response_cn
      )
    values (#{id,jdbcType=INTEGER}, #{templateId,jdbcType=VARCHAR}, #{responseParams,jdbcType=VARCHAR}, 
      #{responseTime,jdbcType=LONGVARCHAR}, #{contentType,jdbcType=LONGVARCHAR}, #{contentCn,jdbcType=LONGVARCHAR}, 
      #{contentResponse,jdbcType=LONGVARCHAR}, #{contentResponseCn,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.example.demo.bean.mysql.AiPaypalResponseTemplatesEntity">
        insert into bt_ai_paypal_response_templates
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="templateId != null">
                template_id,
            </if>
            <if test="responseParams != null">
                response_params,
            </if>
            <if test="responseTime != null">
                response_time,
            </if>
            <if test="contentType != null">
                content_type,
            </if>
            <if test="contentCn != null">
                content_cn,
            </if>
            <if test="contentResponse != null">
                content_response,
            </if>
            <if test="contentResponseCn != null">
                content_response_cn,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="templateId != null">
                #{templateId,jdbcType=VARCHAR},
            </if>
            <if test="responseParams != null">
                #{responseParams,jdbcType=VARCHAR},
            </if>
            <if test="responseTime != null">
                #{responseTime,jdbcType=LONGVARCHAR},
            </if>
            <if test="contentType != null">
                #{contentType,jdbcType=LONGVARCHAR},
            </if>
            <if test="contentCn != null">
                #{contentCn,jdbcType=LONGVARCHAR},
            </if>
            <if test="contentResponse != null">
                #{contentResponse,jdbcType=LONGVARCHAR},
            </if>
            <if test="contentResponseCn != null">
                #{contentResponseCn,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>


    <update id="updateByPrimaryKeySelective"
            parameterType="com.example.demo.bean.mysql.AiPaypalResponseTemplatesEntity">
        update bt_ai_paypal_response_templates
        <set>
            <if test="templateId != null">
                template_id = #{templateId,jdbcType=VARCHAR},
            </if>
            <if test="responseParams != null">
                response_params = #{responseParams,jdbcType=VARCHAR},
            </if>
            <if test="responseTime != null">
                response_time = #{responseTime,jdbcType=LONGVARCHAR},
            </if>
            <if test="contentType != null">
                content_type = #{contentType,jdbcType=LONGVARCHAR},
            </if>
            <if test="contentCn != null">
                content_cn = #{contentCn,jdbcType=LONGVARCHAR},
            </if>
            <if test="contentResponse != null">
                content_response = #{contentResponse,jdbcType=LONGVARCHAR},
            </if>
            <if test="contentResponseCn != null">
                content_response_cn = #{contentResponseCn,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <update id="updateByPrimaryKeyWithBLOBs"
            parameterType="com.example.demo.bean.mysql.AiPaypalResponseTemplatesEntity">
    update bt_ai_paypal_response_templates
    set template_id = #{templateId,jdbcType=VARCHAR},
      response_params = #{responseParams,jdbcType=VARCHAR},
      response_time = #{responseTime,jdbcType=LONGVARCHAR},
      content_type = #{contentType,jdbcType=LONGVARCHAR},
      content_cn = #{contentCn,jdbcType=LONGVARCHAR},
      content_response = #{contentResponse,jdbcType=LONGVARCHAR},
      content_response_cn = #{contentResponseCn,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.example.demo.bean.mysql.AiPaypalResponseTemplatesEntity">
    update bt_ai_paypal_response_templates
    set template_id = #{templateId,jdbcType=VARCHAR},
      response_params = #{responseParams,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <select id="total" parameterType="long" resultType="long">
    SELECT count(1) FROM bt_ai_paypal_response_templates
  </select>


    <select id="queryPageBySql" parameterType="map" resultMap="ResultMapWithBLOBs">
        select * from bt_ai_paypal_response_templates limit #{currIndex} , #{pageSize}
</select>


    <update id="update" parameterType="com.example.demo.bean.mysql.AiPaypalResponseTemplatesEntity">
    update bt_ai_paypal_response_templates
    set template_id = #{templateId,jdbcType=VARCHAR},
      response_params = #{responseParams,jdbcType=VARCHAR},
      response_time = #{responseTime,jdbcType=LONGVARCHAR},
      content_type = #{contentType,jdbcType=LONGVARCHAR},
      content_cn = #{contentCn,jdbcType=LONGVARCHAR},
      content_response = #{contentResponse,jdbcType=LONGVARCHAR},
      content_response_cn = #{contentResponseCn,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <delete id="deleteById" parameterType="java.lang.Integer">
     delete from bt_ai_paypal_response_templates
    where id = #{id,jdbcType=INTEGER}
  </delete>


    <select id="getPayPalTemplates" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
           SELECT
    bt_ai_intent.intent_name,
    bt_ai_intent.intent_detail,
    bt_ai_intent_phrase.intent_phrase,

    bt_ai_paypal_response_templates.template_id,
    bt_ai_paypal_response_templates.response_time,
    bt_ai_paypal_response_templates.content_type,
    bt_ai_paypal_response_templates.content_cn,
    bt_ai_paypal_response_templates.content_response,
    bt_ai_paypal_response_templates.content_response_cn,
    bt_ai_paypal_response_templates.response_params
    FROM
    bt_ai_intent ,
    bt_ai_intent_phrase ,
    bt_ai_intent_template_relations ,
    bt_ai_paypal_response_templates
    WHERE
    bt_ai_intent_phrase.intent_id = bt_ai_intent.id AND
    bt_ai_intent_template_relations.intent_id = bt_ai_intent.id AND
    bt_ai_intent_template_relations.template_id = bt_ai_paypal_response_templates.template_id

    AND bt_ai_intent_phrase.intent_phrase=#{text,jdbcType=VARCHAR}



   </select>


    <select id="getPayPalTemplatesStatusCondition" parameterType="map" resultMap="ResultMapWithBLOBs">

            SELECT
    bt_ai_intent.intent_name,
    bt_ai_intent.intent_detail,
    bt_ai_intent_phrase.intent_phrase,

    bt_ai_paypal_response_templates.template_id,
    bt_ai_paypal_response_templates.response_time,
    bt_ai_paypal_response_templates.content_type,
    bt_ai_paypal_response_templates.content_cn,
    bt_ai_paypal_response_templates.content_response,
    bt_ai_paypal_response_templates.content_response_cn,
    bt_ai_paypal_response_templates.response_params
    FROM
    bt_ai_intent ,
    bt_ai_intent_phrase ,
    bt_ai_intent_template_relations ,
    bt_ai_paypal_response_templates
    WHERE
    bt_ai_intent_phrase.intent_id = bt_ai_intent.id AND
    bt_ai_intent_template_relations.intent_id = bt_ai_intent.id AND
    bt_ai_intent_template_relations.template_id = bt_ai_paypal_response_templates.template_id
    AND bt_ai_intent_phrase.intent_phrase=#{text,jdbcType=VARCHAR} AND

   bt_ai_paypal_response_templates.order_status = #{order_status,jdbcType=INTEGER} AND
   bt_ai_paypal_response_templates.order_other_condition = #{other_condition,jdbcType=INTEGER}

  </select>


</mapper>