<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.mysql.EmailSellResponseMidMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.bean.mysql.EmailSellResponseMid" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="content_type" property="contentType" jdbcType="VARCHAR" />
    <result column="content_cn" property="contentCn" jdbcType="VARCHAR" />
    <result column="content_response" property="contentResponse" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.bean.mysql.EmailSellResponseMid" >
    insert into email_sell_response_mid (id, content_type, content_cn,
      content_response)
    values (#{id,jdbcType=VARCHAR}, #{contenType,jdbcType=VARCHAR}, #{contentCn,jdbcType=VARCHAR}, 
      #{contentResponse,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.bean.mysql.EmailSellResponseMid" >
    insert into email_sell_response_mid
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="contentType != null" >
        content_type,
      </if>
      <if test="contentCn != null" >
        content_cn,
      </if>
      <if test="contentResponse != null" >
        content_response,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="contenType != null" >
        #{contenType,jdbcType=VARCHAR},
      </if>
      <if test="contentCn != null" >
        #{contentCn,jdbcType=VARCHAR},
      </if>
      <if test="contentResponse != null" >
        #{contentResponse,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>





  <select id="total" parameterType="long" resultType="long">
    SELECT count(1) FROM email_sell_response_mid
  </select>

  <select id="queryPageBySql" parameterType="map" resultMap="BaseResultMap">
        select * from email_sell_response_mid limit #{currIndex} , #{pageSize}
</select>


  <update id="update" parameterType="com.example.demo.bean.mysql.EmailSellResponseBeggin" >
    update email_sell_response_mid
    <set >
      <if test="contentType != null" >
        content_type = #{contentType,jdbcType=VARCHAR},
      </if>
      <if test="contentCn != null" >
        content_cn = #{contentCn,jdbcType=VARCHAR},
      </if>

      <if test="contentResponse != null" >
        content_response = #{contentResponse,jdbcType=VARCHAR},
      </if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>



  <delete id="deleteById" parameterType="java.lang.String" >
    delete from email_sell_response_mid
    where id = #{id,jdbcType=INTEGER}
  </delete>








</mapper>